.products {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 35px;
	margin: 100px 30px;
}
.shop-container {
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.order {
	height: 100vh;
	background: bisque;
	position: sticky;
	top: 0;
}
.order-title {
	text-align: center;
}
.order-details {
	padding-left: 10px;
	padding-top: 10px;
}
.cart-btn-1 {
	width: 95%;
	background: #ff3030;
	color: white;
}

.cart-btn-2 {
	margin-top: 15px;
	width: 95%;
	background: #ff9900;
	color: white;
}
